<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div style="width: 72%; color: #3F729B; text-align: center; align: middle;">
      <h1 class="titretrait">Prise de Rendez-vous</h1>

    </div>
  </div>

  <div class="row justify-content-center">
    <!--   PRATICIEN ET/OU SPECIALITE-->
    <div class="column m-3 " style="width: 350px;">
      <!--   Titre-->
      <div class="row justify-content-center">
        <h5 class="mb-4 mt-2" style="font-size:18px">Praticien et/spécialité</h5>
      </div>
      <!--   Praticien-->
      <div *ngIf="!specialiteChoisie" class="row ml-5 mb-3">
        <label for="praticienForm1" style="font-size:15px">Je choisis par praticien:</label>
        <select class="form-control" id="praticienForm1" style="width: 250px;" [ngModel]="praticienSelectionne.id" (ngModelChange)="onChangePraticien($event)">
          <option >Choisissez un praticien</option>
          <option [value]="praticien.id" *ngFor="let praticien of listPraticien()" >{{praticien.nom}}</option>
        </select>
      </div>

<!--      [value]="praticien.id"-->

      <div *ngIf="specialiteChoisie" class="row ml-5 mb-3">
        <label for="praticienForm2" style="font-size:15px">Je choisis par praticien:</label>
        <select class="form-control" id="praticienForm2" style="width: 250px;">
          <option >Choisissez un praticien</option>
          <option *ngFor="let praticien of praticiensParSpecialite" >{{praticien.nom}}</option>
        </select>
      </div>

      <!--   Spécialité-->
      <div *ngIf="!praticienChoisi" class="row ml-5 mb-3">
        <label for="specialiteForm1" style="font-size:15px">Je choisis par spécialité:</label>
        <select class="form-control" id="specialiteForm1" style="width: 250px;" [ngModel]="specialiteSelectionnee" (ngModelChange)="onChangeSpecialite($event)">
          <option >Choisissez une spécialité</option>
          <option *ngFor="let specialite of listPraticienSpecialite()">{{specialite}}</option>
        </select>
      </div>

      <div *ngIf="praticienChoisi" class="row ml-5 mb-3">
        <label for="specialiteForm2" style="font-size:15px">Je choisis par spécialité:</label>
        <select class="form-control" id="specialiteForm2" style="width: 250px;">
          <option >Choisissez une spécialité</option>
          <option >{{praticienSelectionne.specialitePrincipale}}</option>
          <option >{{praticienSelectionne.specialiteSecondaire}}</option>
        </select>
      </div>

    </div>

    <!--   MOTIF ET LIEU DE CONSULTATION-->
    <div class="column m-3 " style="width: 350px;">
      <!--   Titre-->
      <div class="row justify-content-center">
        <h5 class="mb-4 mt-2 " style="font-size:18px">Motif et/ou lieu de consultation</h5>
      </div>
      <!--   Motif de la consultation-->
      <div class="row ml-5 mb-3">
        <label for="motif" style="font-size:15px">Je choisis le motif de la consultation:</label>
        <select class="form-control" id="motif" style="width: 250px;">
          <option *ngFor="let motif of listMotif()">{{motif.nom}}</option>
        </select>
      </div>
      <!--   Lieu de la consultation-->
      <div class="row ml-5 mb-3">
        <label for="lieu" style="font-size:15px">Je choisis (si besoin) le lieu:</label>
        <select class="form-control" id="lieu" style="width: 250px;">
          <option *ngFor="let lieu of listLieu()">{{lieu.nom}}</option>
        </select>
      </div>
    </div>

    <!--   DATE ET HEURE DE LA CONSULTATION-->
    <div class="column m-3 " style="width: 350px;">
      <!--   Titre-->
      <div class="row justify-content-center ">
        <h5 class="mb-4 mt-2 " style="font-size:18px">Créneaux disponibles</h5>
      </div>
      <!--   Date-->
      <div class="row ml-5 mb-3 ">
        <h4 style="font-size:15px">Je choisis la date:</h4>
        <!--        <img src="assets/Images/calendar1.png">-->
        <!--CALENDRIER-->
        <div class="calendar__wrapper justify-content-center align-middle mr-5">
          <div class="calendar__navs">
            <div class="calendar__month-nav">
              <button class="calendar__nav-btn" (click)="prevMonth()">&lt;</button>
              <span>
          {{currentDate.format('MMMM').toUpperCase()}}
                {{currentDate.format('YYYY')}}
           </span>
              <button class="calendar__nav-btn"

                      (click)="nextMonth()"
              >>
              </button>
            </div>
          </div>
          <div class="calendar__month">
            <div class="calendar__day-names">
              <div class="calendar__day-name"
                   *ngFor="let name of namesOfDays">{{name}}</div>
            </div>
            <div class="calendar__weeks">
              <div class="calendar__week" *ngFor="let week of weeks">
                <ng-container *ngFor="let day of week">
                  <div class="calendar__date"
                       [ngClass]="{'today': day.today,
                              'selected': day.selected
                              }"
                       (click)="selectDate(day)">
                    <span class="calendar__number">{{day.mDate.date()}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <!--CALENDRIER-->

      </div>

      <!--  Heure-->
      <div class="row ml-5 mb-3">
        <label for="heure" style="font-size:15px">Je choisis l'heure:</label>
        <select class="form-control" id="heure" style="width: 250px;">
          <option>8h00</option>
          <option>9h00</option>
          <option>15h00</option>
          <option>15h15</option>
        </select>
      </div>
      <!--  Rappels des informations-->
      <div class="row ml-5">
        <label for="rappel" style="font-size:15px">Mon rdv:</label>
        <p>Rdv le XXXX à XX avec Dr X à l'adresse X</p>

      </div>
    </div>

    <!--   CONFIRMATION DU RENDEZ VOUS-->
    <div class="column m-3  " style="width: 350px;">
      <!--   Titre-->
      <div class="row justify-content-center ">
        <h5 class="mb-4 mt-2 " style="font-size:18px">Je confirme mon rendez-vous</h5>
      </div>
      <!--  Connexion-->
      <form action="/action_page.php">
        <div class="form-group ml-5 mb-3 ">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group ml-5 mb-3">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <a class="btn float-right mb-3" style="background-color :#3F729B; color: black; border-right-color: black"
           data-toggle="modal">
          <i class="fa fa-check"></i>
        </a>
      </form>
      <!--      <div class="row ml-5 mb-3 form-group" style="width: 250px;">-->
      <!--        <label style="font-size:15px" for="usr">Identifiant:</label>-->
      <!--        <input type="text" class="form-control" id="usr">-->
      <!--      </div>-->
      <!--      <div class="row ml-5 form-group" style="width: 250px;">-->
      <!--        <label style="font-size:15px" for="pwd">Password:</label>-->
      <!--        <input type="password" class="form-control" id="pwd">-->
      <!--      </div>-->
      <!--  Création-->
      <div class="row ml-5 form-group my-5" style="width: 250px;">
        <h6 class="mb-2 mt-2 " style="font-size:15px">Pas encore de compte? pas de panique c'est le moment</h6>
        <a class="btn float-right "
           style="background-color :#3F729B; color: black; border-right-color: black"
           data-toggle="tooltip"
           data-placement="top" title="Créer un compte"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>

