<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div style="width: 72%; color: #3F729B; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 titretrait">DOCTOLIB</h1>
      <h2 class="hr ">Professionnels : planifiez vos rendez-vous !</h2>
      <h2 class="hr ">Patients : trouvez et prenez rendez-vous avec nos praticiens partenaires !</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <!--   PATIENT-->
    <div class="column m-3 box" style="width: 500px;">
      <!--   Titre-->
      <div class="row justify-content-center align-items-center ">
        <h4 class="mb-4 mt-2 ">Je suis un patient</h4>
      </div>
      <!--   Se connecter-->
      <button  class="btn shadow-none justify-content-center align-items-center border mb-2" style="height: 50px; width: 500px;" >
        <h6 class="mb-4 mt-2 ">Je souhaite me connecter à mon compte</h6>
      </button>
      <!--   Créer un compte-->
      <button class="btn shadow-none justify-content-center align-items-center border mb-2" style="height: 50px; width: 500px;">
        <h6 class="mb-4 mt-2 ">Je souhaite créer un compte </h6>
      </button>
      <!--   Prendre un rendez-vous-->
      <button class="btn shadow-none justify-content-center align-items-center border mb-2" style="height: 50px; width: 500px;">
        <h6 class="mb-4 mt-2 ">Je souhaite prendre rendez-vous </h6>
      </button>
    </div>

    <!--   PRATICIEN-->
    <div class="column m-3 box" style="width: 500px;">
      <!--   Titre-->
      <div class="row justify-content-center align-items-center">
        <h4 class="mb-4 mt-2 ">Je suis un praticien</h4>
      </div>
      <!--   Se connecter-->
      <button  class="btn shadow-none justify-content-center align-items-center border mb-2" style="height: 50px; width: 500px;" >
        <h6 class="mb-4 mt-2 ">Je souhaite me connecter à mon compte</h6>
      </button>
      <!--   Créer un compte-->
      <button class="btn shadow-none justify-content-center align-items-center border mb-2" style="height: 50px; width: 500px;">
        <h6 class="mb-4 mt-2 ">Je souhaite créer un compte </h6>
      </button>
    </div>
  </div>

</div>


